<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="referrer" content="no-referrer"> <!-- this is placed here to override the 403 error with the imigur-->
    <title>Edit</title>
  </head>
  <body>
      <img src="/assets/banner-logo.png"/>
    <%- include('../partials/nav.ejs') %>
    <h1>Edit Artwork in Your Gallery, <%= user.username %> : </h1>
    
    <form action="/artwork/<%= artwork._id %>/edit" method="POST">
      <label for="artwork-image"> Artwork URL:</label>
      <input type="text" value="<%= artwork.artworkImage %>" name="artworkImage" id="artwork-image" required/>
      <br>
      <label for="artwork-title"> Artwork Title:</label>
      <input type="text" value="<%= artwork.artworkTitle %>" name="artworkTitle" id="artwork-title" required/>
      <br>
      <label for="artist-name"> Artist Name:</label>
      <input type="text" value="<%= artwork.artistName %>" name="artistName" id="artist-name" required/>
      <br>
      <label for="medium"> Medium:</label>
      <input type="text" value="<%= artwork.medium %>" name="medium" id="medium" required/>
      <br><br>
      <button type="submit">Update My Artwork</button>
  </form>

  <form action="/artwork/<%= artwork._id %>?_method=DELETE" method="POST">
      <button type="submit">Remove</button>
  </form>


        <a href="/auth/sign-out">Sign out</a>
    </p>
  </body>
</html>

<!-- URL string button >> push to user array >> render