<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="referrer" content="no-referrer"> <!-- this is placed here to override the 403 error with the imigur-->
    <title>Check Out Your Artwork</title>
</head>

<body>
    <img src="/assets/banner-logo.png"/>
    <%- include('../partials/nav.ejs') %> 
    <h1>Check Out Your Artwork</h1>
    <div>
        <p> Artist's Name:<%= artwork.artistName %>
        </p>
        <p> Artwork Title:<%= artwork.artworkTitle %>
        </p>
        <div class="image-container">
            <img src="<%= artwork.artworkImage %>"></img>  
          </div>
    </div>
        <form action="/artwork/<%=artwork._id%>/edit" method="GET">
            <button type="submit">Edit My Artwork</button>
        </form>
  
    <p>
        <a href="/auth/sign-out">Sign out</a>
    </p>      
</body>
</html>