<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="referrer" content="no-referrer"> <!-- this is placed here to override the 403 error with the imigur-->
    <title>Check Out Artist Profile</title>
</head>

<body>
    <img src="../assets/banner-logo.png"/>
    <%- include('../partials/nav.ejs') %> 
    <h1> <%= artist.artistName %> 's Artist Profile</h1>
    <div>
        <p> Artist's Name:<%= artist.artistName %>
        </p>
        <p> Artist's Age:<%= artist.artistAge %>
        </p>
        <p> Artist's Bio:<%= artist.artistBio %>
        </p>
    </div>
    <p>
        <a href="/artist/<%= artist._id %>/edit">Edit Profile</a>
    </p> 
    <p>
        <a href="/auth/sign-out">Sign out</a>
    </p>      
</body>
</html>